<div class="coreui-sidebar coreui-sidebar-is-collapsed">
    <div class="coreui-sidebar-bar">
        <!--<button class="coreui-sidebar-collapse-button" title="Open menu">
            <i class="fa fa-bars fa-fw fa-lg"></i>
        </button>-->

        <ul class="coreui-sidebar-favourites">
            
            <li>
                <a href="#" title="Dashboard" [routerLink]="['/home']">
                    <div class="coreui-sidebar-icon"><i class="fa fa-home fa-fw fa-lg"></i></div>
                    <div class="coreui-sidebar-label">Dashboard</div>
                </a>
            </li>

            <li *ngFor="let blade of blades">
                <a href="#" title=" {{blade.title}}" [routerLink]="['/blade', blade.name]">
                    <div class="coreui-sidebar-icon"><i class="{{blade.class}}"></i>
                    </div>
                    <div class="coreui-sidebar-label">
                        <span [innerHtml]="blade.title"></span>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>