<div class="coreui-portal">
    <main-nav></main-nav>

    <div class="coreui-portal-main">
        <blade-nav class="coreui-sidebar coreui-sidebar-is-collapsed"></blade-nav>

        <div class="coreui-portal-content">
            <div class="coreui-blade-layout">

                <div *ngFor="let blade of activeBlades;">
                    <div class="blade {{blade.class}} {{blade.fullScreenClass}}">
                        <div class="blade-header">

                            <div class="blade-header-title">
                                <h2>{{blade.title}}</h2>
                                <h3>{{blade.subTitle}}</h3>
                            </div>

                            <div class="blade-actions">
                                <button title="Expand" type="button" (click)="expandBlade(blade)">
                                    <i class="fa fa-expand fa-lg"></i>
                                </button>
                                <button title="Close" type="button" (click)="removeBlade(blade)">
                                    <i class="fa fa-close fa-lg"></i>
                                </button>
                            </div>

                            <div class="blade-commands">
                                <!-- ko foreach: commands -->
                                <button type="button" data-bind="attr: { title: title }, click: click">
                                    <i class="fa fa-lg" data-bind="css: icon"></i> <span data-bind="text: title"></span>
                                </button>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="blade-content-wrapper" style="padding: 15px">
                            //data-bind="dynamicHtml: content"
                            {{blade.title}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>