
<h3 class="pull-left">
    Blades
</h3>
<div class="pull-right">
    <a href="/Designer/Blades/New" class="btn btn-success">
        New Blade
    </a>
</div>

<div class="clearfix"></div>
<hr />

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Status</th>
        <th class="col-md-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Blade1</td>
        <td>Blade #1</td>
        <td>Active</td>
        <td>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>

    <tr>
        <td>Blade2</td>
        <td>Blade #2</td>
        <td>Active</td>
        <td>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
    <tr>
        <td>Blade3</td>
        <td>Blade #3</td>
        <td>Active</td>
        <td>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>