
<style>
    table {
        margin-bottom: 0px !important;
    }

    td {
        border-top: none !important;
    }
</style>

<h3>
    BLADE #111
</h3>  <hr />


<div class="row">

    <div class="col-md-9">


        <div class="form-group">
            <label class="control-label">
                Control toolbar:
            </label>
            <div style="border: solid 1px #000; padding: 20px; text-align: left; font-weight: bold">


                <table class="table">
                    <tr>
                        <td><button class="btn btn-default">Form Control</button></td>
                        <td><button class="btn btn-default">Grid Control</button></td>
                        <td><button class="btn btn-default">Chart Control</button></td>
                        <td><button class="btn btn-default">Image Control</button></td>
                        <td><button class="btn btn-default">Video Control</button></td>
                        <td><button class="btn btn-default">Open Blade Control</button></td>
                        <td><button class="btn btn-default">CustomControl 1</button></td>
                        <td><button class="btn btn-default">CustomControl 2</button></td>
                        
                    </tr>
                </table>
                
            </div>
        </div>


        <div class="form-group">

            <div style="border: dotted 1px #ccc; padding: 20px; text-align: center; font-weight: bold">
                Zone 1 (  Drag a control from the control toolbar)
            </div>

        </div>

    </div>


    <div class="col-md-3">

        <div class="form-group">
            <label class="control-label">
                Name:
            </label>
            <input type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">
                Title:
            </label>
            <input type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">
                Size:
            </label>
            <select class="form-control">
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
                <option>Fullscreen</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">
                Layout:
            </label>
            <select class="form-control">
                <option>1 column</option>
                <option>2 columns</option>
                <option>3 columns</option>
                <option>4 columns</option>
            </select>
        </div>


        <div class="form-group">
            <label class="control-label">
                Show in main navigation:
            </label>
            <select class="form-control">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-success">Save</button>
        </div>

    </div>

</div>