<div class="coreui-portal">
    <div class="coreui-topbar">
        <div class="coreui-topbar-title">Blade Designer</div>
        <div class="coreui-topbar-breadcrumb"></div>
        <div class="coreui-topbar-user"><span data-bind="text: userName"></span> <i class="fa fa-user"></i></div>
    </div>
    <div class="coreui-portal-main">
        <div class="coreui-sidebar" id="mySidenav">
            <div class="coreui-sidebar-bar">



                <designer-navigation></designer-navigation>


              
            </div>
        </div>

        <div style="width: 100%; height: 100%; background: #fff; padding: 20px">
            
            <router-outlet></router-outlet>


        </div>

    </div>
</div>
<div class="coreui-splashscreen">
    <div class="coreui-splashscreen-logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 23 23" overflow="hidden">
                <path d="m22.475,11.311033c-4.76,2.630984 -8.641983,6.644968 -11.113964,11.499964c-2.472992,-4.853996 -6.353992,-8.868979 -11.110994,-11.495958l11.113994,-11.118995l11.110964,11.114989l0,0z"></path>
            </svg>
    </div>
</div>

@RenderSection("scripts", required: false)

<script src="/bower_components/knockout/dist/knockout.js"></script>
<script src="https://use.fontawesome.com/47fb412963.js"></script>
<script src="/app/app.js"></script>