<ul class="coreui-sidebar-favourites">
    <li>
        <a [routerLink]="['/designer']">
            <div class="coreui-sidebar-icon"><i class="fa fa-home fa-fw fa-lg"></i></div>
            <div class="coreui-sidebar-label">Dashboard</div>
        </a>
    </li>
    <li>
        <a [routerLink]="['/designer/blades']">
            <div class="coreui-sidebar-icon"><i class="fa fa-list fa-fw fa-lg"></i></div>
            <div class="coreui-sidebar-label">Blades</div>
        </a>
    </li>

    <li>
        <a [routerLink]="['/designer/controls']">
            <div class="coreui-sidebar-icon"><i class="fa fa-bars fa-fw fa-lg"></i></div>
            <div class="coreui-sidebar-label">Controls</div>
        </a>
    </li>

    <li>
        <a [routerLink]="['/designer/forms']">
            <div class="coreui-sidebar-icon"><i class="fa fa-ellipsis-h fa-fw fa-lg"></i></div>
            <div class="coreui-sidebar-label">Forms</div>
        </a>
    </li>

    <li>
        <a [routerLink]="['/designer/models']">
            <div class="coreui-sidebar-icon"><i class="fa fa-ellipsis-h fa-fw fa-lg"></i></div>
            <div class="coreui-sidebar-label">Models</div>
        </a>
    </li>

    <li>
        <a [routerLink]="['/designer/editors']">
            <div class="coreui-sidebar-icon"><i class="fa fa-ellipsis-h fa-fw fa-lg"></i></div>
            <div class="coreui-sidebar-label">Editors</div>
        </a>
    </li>

</ul>