@model dynamic

@{
    ViewBag.Title = "Editors";
    Layout = "_DesignerLayout";
}


<h3 class="pull-left">
    Controls
</h3>
<div class="pull-right">
    <a href="/Designer/Controls/New" class="btn btn-success">
        Add Control
    </a>
</div>

<div class="clearfix"></div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Status</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>LoadFormControl</td>
            <td>Load Form Control</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>GridControl</td>
            <td>Grid Control</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>ChartControl</td>
            <td>Chart Control</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>

        <tr>
            <td>MenuControl</td>
            <td>Menu Control</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>LoadImageControl</td>
            <td>Load Image Control</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>LoadVideoControl</td>
            <td>Load Video Control</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>OpenBladeButtonControl</td>
            <td>Open Blade</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>CustomControl1</td>
            <td>CustomControl1</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>CustomControl2</td>
            <td>CustomControl2</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>

    </tbody>
</table>