@model dynamic

@{
    ViewBag.Title = "Models";
    Layout = "_DesignerLayout";
}





<h3 class="pull-left">
    EDITORS
</h3>


<div class="clearfix"></div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Status</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>TextEditor</td>
            <td>Text Editor</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>

        <tr>
            <td>PasswordEditor</td>
            <td>Password Editor</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>DropdownEditor</td>
            <td>DropdownEditor</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>DateTimeEditor</td>
            <td>DateTimeEditor</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>


        <tr>
            <td>BladePickerSingleEditor</td>
            <td>BladePickerSingleEditor</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>

        <tr>
            <td>BladePickerMultiple</td>
            <td>BladePickerMultiple</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>

    </tbody>
</table>