@model dynamic

@{
    ViewBag.Title = "Dashboard";
    Layout = "_DesignerLayout";
}





<h3 class="pull-left">
    BLADE DESIGNER
</h3>

<div class="clearfix"></div>
<hr />

<div class="row">
    
    <div class="col-md-2" style="border: dotted 1px #ccc; margin: 10px; padding: 75px; text-align: center; font-weight: bold">
        <a href="/Designer/Blades">Blades</a>
    </div>
    
    <div class="col-md-2" style="border: dotted 1px #ccc; margin: 10px; padding: 75px; text-align: center; font-weight: bold">
        <a href="/Designer/Controls">Controls</a>
        
    </div>
    
    <div class="col-md-2" style="border: dotted 1px #ccc; margin: 10px; padding: 75px; text-align: center; font-weight: bold">
        <a href="/Designer/Forms">Forms</a>
        
    </div>

</div>


<div class="row">

    <div class="col-md-2" style="border: dotted 1px #ccc; margin: 10px; padding: 75px; text-align: center; font-weight: bold">
        <a href="/Designer/Models">Models</a>
        
    </div>

    <div class="col-md-2" style="border: dotted 1px #ccc; margin: 10px; padding: 75px; text-align: center; font-weight: bold">
        <a href="/Designer/Editors">Editors</a>
        
    </div>


</div>