@model dynamic

@{
    ViewBag.Title = "Models";
    Layout = "_DesignerLayout";
}



<h3 class="pull-left">
    Models
</h3>
<div class="pull-right">
    <a href="/Designer/Models/New" class="btn btn-success">
        Add Model
    </a>
</div>

<div class="clearfix"></div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Server</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>

        <tr>
            <td>Location</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>SQL Database</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>