
<h3 class="pull-left">
    Forms
</h3>
<div class="pull-right">
    <a [routerLink]="['/designer/forms/new']" class="btn btn-success">
        Add Form
    </a>
</div>

<div class="clearfix"></div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Status</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Form1</td>
            <td>Form #1</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>

        <tr>
            <td>Form2</td>
            <td>Form #2</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>Form3</td>
            <td>Form #3</td>
            <td>Active</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>