<!DOCTYPE html>
<html>
<head>
    <title>Blade Designer // @ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link href="~/app/app.css" rel="stylesheet" />
</head>
<body class="loaded coreui-theme-blue">
    <div class="coreui-portal">
        <div class="coreui-topbar">
            <div class="coreui-topbar-title">Blade Designer</div>
            <div class="coreui-topbar-breadcrumb"></div>
            <div class="coreui-topbar-user"><span data-bind="text: userName"></span> <i class="fa fa-user"></i></div>
        </div>
        <div class="coreui-portal-main">
            <div class="coreui-sidebar" id="mySidenav">
                <div class="coreui-sidebar-bar">

                    <ul class="coreui-sidebar-favourites">
                        <li>
                            <a href="/Designer" >
                                <div class="coreui-sidebar-icon"><i class="fa fa-home fa-fw fa-lg"></i></div>
                                <div class="coreui-sidebar-label">Dashboard</div>
                            </a>
                        </li>
                        <li>
                            <a href="/Designer/Blades" >
                                <div class="coreui-sidebar-icon"><i class="fa fa-list fa-fw fa-lg"></i></div>
                                <div class="coreui-sidebar-label">Blades</div>
                            </a>
                        </li>

                        <li>
                            <a href="/Designer/Controls" >
                                <div class="coreui-sidebar-icon"><i class="fa fa-bars fa-fw fa-lg"></i></div>
                                <div class="coreui-sidebar-label">Controls</div>
                            </a>
                        </li>

                        <li>
                            <a href="/Designer/Forms" >
                                <div class="coreui-sidebar-icon"><i class="fa fa-ellipsis-h fa-fw fa-lg"></i></div>
                                <div class="coreui-sidebar-label">Forms</div>
                            </a>
                        </li>
                        
                        <li>
                            <a href="/Designer/Models" >
                                <div class="coreui-sidebar-icon"><i class="fa fa-ellipsis-h fa-fw fa-lg"></i></div>
                                <div class="coreui-sidebar-label">Models</div>
                            </a>
                        </li>
                        
                        <li>
                            <a href="/Designer/Editors" >
                                <div class="coreui-sidebar-icon"><i class="fa fa-ellipsis-h fa-fw fa-lg"></i></div>
                                <div class="coreui-sidebar-label">Editors</div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
           
            <div style="width: 100%; height: 100%; background: #fff; padding: 20px">
                @RenderBody()
            </div>
           
        </div>
    </div>
    <div class="coreui-splashscreen">
        <div class="coreui-splashscreen-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 23 23" overflow="hidden">
                <path d="m22.475,11.311033c-4.76,2.630984 -8.641983,6.644968 -11.113964,11.499964c-2.472992,-4.853996 -6.353992,-8.868979 -11.110994,-11.495958l11.113994,-11.118995l11.110964,11.114989l0,0z"></path>
            </svg>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script src="/bower_components/knockout/dist/knockout.js"></script>
    <script src="https://use.fontawesome.com/47fb412963.js"></script>
    <script src="/app/app.js"></script>
</body>
</html>